.header {
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: black;
  color: white;
  padding: 20px;
  font-size: 25px;
  cursor: pointer;
  border: 1px snow white;
}

@media (max-width: 1000px) {
  .header {
    padding-top: 15px;
    font-size: 6.4vh;
  }
}
